.progress {
  grid-area: progress;
  max-height: 150px;
}

.stepper-wrapper {
  margin-top: 3rem;
}

.step-title {
  display: inline-block;
  width: max-content;
  margin-left: 0.5rem;
}

.title-lg {
  font-size: 2rem;
}