$nav-border: hsl(0, 0%, 85%);
$circle-gray: hsla(231, 10%, 71%, 1);
$black: hsl(0, 0%, 0%);
$dark-text: hsla(0, 0%, 16%, 1);
$bg-white: hsla(0, 0%, 100%, 1);
$form-gray: hsla(0, 0%, 50%, 1);
$input-border: hsla(0, 0%, 29%, 1);
$radio-border: hsla(0, 0%, 13%, 1);
$radio-box-shadow: hsla(0, 0%, 16%, 1);
$card-gray: hsla(240, 20%, 95%, 1);
$button-pink: hsla(343, 88%, 71%, 1);
$button-top-border: hsla(240, 11%, 91%, 1);
$footer-gray: hsl(0, 0%, 90%);